@{
    ViewBag.Title = "Ajax";
}

<fieldset>
    <legend>Demo 1</legend>
    <input type="button" value="Demo 1" id="buttonDemo1" />
    <br />
    <span id="result1"></span>
</fieldset>

<fieldset>
    <legend>Demo 2</legend>
    Full Name <input type="text" id="fullName" />
    <input type="button" value="Demo 2" id="buttonDemo2" />
    <br />
    <span id="result2"></span>
</fieldset>

<fieldset>
    <legend>Demo 3</legend>
    <input type="button" value="Demo 3" id="buttonDemo3" />
    <br />
    <span id="result3"></span>
</fieldset>

<fieldset>
    <legend>Demo 4</legend>
    <input type="button" value="Demo 4" id="buttonDemo4" />
    <br />
    <span id="result4"></span>
</fieldset>